* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
}

body {
  background: linear-gradient(to bottom, #615dad, #ffc8da);
  background-attachment: fixed;
}

.kontejner {
  margin: 65px auto 0;
  height: 620px;
  width: 365px;

}

img {
  height: 225px;
  width: 365px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.main {
  background-color: #283e50;
  height: 300px;
  width: 365px;
}

h1 {
  font-family: 'Lobster', cursive;
  text-align: center;
  height: 100px;
  width: 365px;
}

p {
  font-family: 'Mulish', sans-serif;
  font-weight: bold;
  text-align: center;
  height: 200px;
  width: 365px;
}

a {
  text-decoration: none;
  display: inline-block;
  height: 50px;
  width: 365px;
  font-family: 'Mulish', sans-serif;
  font-weight: bold;
  text-align: center;
  /* border: 1px solid black; */
}

a[href="https://czechitas-podklady.cz/Piskvorky-pravidla/"] {
  background-color: #1fcca4;
}

a[href="https://czechitas-podklady.cz/Piskvorky-pravidla/"]:hover {
  background-color: #1cbb96;
}

a[href="index.html"] {
  background-color: #0197f6;
}

a[href="index.html"]:hover {
  background-color: #0090e9;
}


