* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
}

body {
  background: linear-gradient(to bottom, #615dad, #ffc8da);
  background-attachment: fixed;
}

.kontejner {
  margin: 65px auto 0;
  height: 620px;
  width: 365px;
}

img.main-img {
  height: 225px;
  width: 365px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: block;
}

.main {
  background-color: #283e50;
  height: 300px;
  width: 365px;
}

.main-hra {
  max-width: 80vmin;
  margin: 0 auto;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 45px;
  font-weight: lighter;
  line-height: 50px;
  text-align: center;
  height: 100px;
  width: 365px;
  margin: 0;
  padding-top: 40px;
}

.main-name {
  margin: 0 auto;
}

p {
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
  text-align: center;
  height: 200px;
  width: 365px;
  padding: 30px 12px;
}

a {
  text-decoration: none;
  display: inline-block;
  height: 50px;
  width: 365px;
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

a[href="https://czechitas-podklady.cz/Piskvorky-pravidla/"] {
  background-color: #1fcca4;
  border-bottom: 1px solid black;
}

a[href="https://czechitas-podklady.cz/Piskvorky-pravidla/"]:hover {
  background-color: #1cbb96;
}

a[href="hra.html"] {
  background-color: #0197f6;
}

a[href="hra.html"]:hover {
  background-color: #0090e9;
}

.panel {
  display: flex;
  justify-content: space-between;
}

.player {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.circle {
  height: 20px;
  width: 20px;
  border-radius: 60%;
  border: 3px solid white;
  display: inline-block;
  align-self: center;
  margin-left: 0.5rem;
}

.img.home,
.img.restart,
.buttons-hra-home,
.buttons-hra-restart {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  padding: 3px;
  display: inline-block;
}

.buttons-hra-home {
  background-color: #1fcca4;
}

.home:hover,
.home:focus {
  background-color: #1cbb96;
}

.buttons-hra-restart {
  background-color: #0197f6;
}

.restart:hover,
.restart:focus {
  background-color: #0090e9;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(10, auto);
  padding-top: 20px;
}

.grid-item {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  padding: 20px;
  cursor: pointer;
  background-color: transparent;
  aspect-ratio: 1/1;
}

.grid-item:hover,
.grid-item:focus {
  background-color: #ffc8da;
  opacity: .2;
}
